.form {
  display: block;
  height: fit-content;
  margin-top: 40px;
}
.input {
  height: 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  padding: 0.5rem;
  width: 200px;
  text-align: center;
}
.btn_primary {
  cursor: pointer;
  height: 30px;
  width: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
}
