.list {
  list-style: none;
  margin: 50px auto;
  max-width: 600px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 1.5rem;
}

.list > :last-child {
  border-bottom: none;
}

.list_item {
  border-bottom: 1px dashed rgba(173, 173, 173, 0.726);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.tickbox {
  height: 25px;
}

.tickbox__btn {
  background: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  padding: 0;
}
.tickbox__btn:hover {
  color: #fff;
}

.check {
  background-color: rgb(22, 112, 0);
}

.list__text {
  padding-top: 5px;
  color: var(--tertiary-color);
}

.list__text--done {
  text-decoration: line-through;
}
