@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: white;
  --secondary-color: rgb(34, 171, 189);
  --tertiary-color: #330867;
}
html {
  height: 100%;
  background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--tertiary-color);
  font-family: "Comfortaa";
  font-weight: 400;
}

h1 {
  font-family: "Comfortaa";
  font-weight: 700;
}
